:root{
    --main-box-shadow: #030712 0px 13px 27px -5px, #fed7aa 1px 8px 16px -8px;
    --main-border-radius: .5rem;
    --main-light-color: #f0f9ff;
    --main-dark-color: #030712;
}

@font-face {
    font-family: 'Inconsolata';
    src: url("Inconsolata-Regular.ttf") format("truetype");
}

body{
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'Inconsolata';
    color: var(--main-light-color);
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( #7dd3fc, #7dd3fc,#7dd3fc,  #fed7aa,#fdba74, #fb923c, #0f172a,#020617, var(--main-dark-color));
    opacity: .9;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 100vw;

}


#header-section{
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h2{
    position: relative;
    left: 20px;
}

#form-container{
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: flex-start;
    width: 600px;
  
}

#search-options-form{
    width: 500px;
    height: 100%;
}

#error{
    margin-top: 8px;
    color: red;
    border-color: red;
}


input#search{
    width: 300px;
    outline: 0;
    border: 0;
    box-shadow: var(--main-box-shadow);
    border-radius: var(--main-border-radius);
    opacity: .8;
    font-family: 'Inconsolata';
    font-size: 1rem;
    height:  30px;;
}

button{
    box-shadow: var(--main-box-shadow);
    border-radius: var(--main-border-radius);
    border: none;
    font-size: 1rem;
    width: 35px;
    height: 30px;
    
}

#button-search{
    background-color: var(--main-light-color);
    position: relative;
    left: 10px;
}

img{
    max-width: 60px;
    max-height: 60px;
}

button[data-temp-scale]{
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
}

button.off{
    opacity: .5;
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}


#today{
    min-height: 50%;
    width: 60%;
    color: var(--main-dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#location-name{
    font-size: 3rem;
    font-weight: bold;
    height:  25%;
    width: 30%;
    text-align: center;
}

#weather-content{
    height:  100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[data-weekly-card-temp-icon="now"]{

    margin: 10px 0;
}

div[data-weekly-card-temp='now']{
    font-size: 2.2rem;
}

#weather-desc{
    font-size: 1.5rem;
}

#weekly{
    min-height: 42%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div[data-weekly-card]{
    opacity: .7;
    height: 60%;
    width: 13%;
    border-radius: var(--main-border-radius);
    display: flex;
    flex-direction: column;
    box-shadow: var(--main-box-shadow);
    align-items: center;
    justify-content: center;
}

div[data-weekly-card-date]{
    font-size: 1.5rem;
    font-weight: bold;
    justify-self:  flex-start;
    margin-bottom: 10px;
}



